---
- name: Pre-configure apt-cacher-ng for HTTPS tunneling
  ansible.builtin.debconf:
    name: apt-cacher-ng
    question: apt-cacher-ng/tunnelenable
    value: "true"
    vtype: boolean

- name: Install apt-cacher-ng
  apt:
    name: apt-cacher-ng
    state: present

- name: Ensure apt-cacher-ng is started and enabled
  systemd:
    name: apt-cacher-ng
    state: started
    enabled: yes

- name: Open firewall port 3142 (UFW)
  ufw:
    rule: allow
    port: '3142'
    proto: tcp
  when: ansible_facts.services['ufw.service'] is defined

- include_tasks: https-support.yml

- name: Run apt update to fetch repository index files
  ansible.builtin.apt:
    update_cache: yes

- name: Trigger apt-cacher-ng import with curl
  ansible.builtin.command: curl "http://localhost:3142/acng-report.html?abortOnErrors=aOe&doImport=Start+Import&calcSize=cs&asNeeded=an#bottom"
  register: import_result
  changed_when: false

# - name: Check for successful import message
#   ansible.builtin.assert:
#     that:
#       - "'Maintenance task Data Import' in import_result.stdout"
#       - "'No index files detected' not in import_result.stdout"
#     fail_msg: "Apt-cacher-ng import failed or did not complete successfully. Output: {{ import_result.stdout }}"
