---
- name: Configure Apt-Cacher-NG Client
  hosts: all:!openwrt_router
  become: yes
  vars:
    apt_proxy: "http://{{ hostvars[groups['mirror_server'][0]]['ansible_default_ipv4']['address'] }}:3142"
  tasks:
    - name: Set nodes to use the local mirror for HTTP and HTTPS
      copy:
        content: |
          Acquire::http::Proxy "{{ apt_proxy }}";
          Acquire::https::Proxy "{{ apt_proxy }}";
        dest: /etc/apt/apt.conf.d/01proxy

    - name: Clean apt cache before update
      command: rm -rf /var/lib/apt/lists/*

    - name: Update apt cache to populate cacher indexes
      apt:
        update_cache: yes
