
---
- name: Increase swap space
  hosts: localhost
  become: true
  vars:
    swap_path: "/swapfile"
    # Default swap_size, will be overridden if disk size is determined
    swap_size: "16G"

  tasks:
    - name: Gather disk facts
      ansible.builtin.setup:
        gather_subset:
          - "devices"

    - name: Calculate swap size based on disk size
      ansible.builtin.set_fact:
        swap_size: "{{ (ansible_facts.ansible_devices.sda.size | float * 0.07) | int | human_readable_size }}"
      when: ansible_facts.ansible_devices.sda is defined

    - name: Turn off existing swap
      ansible.builtin.command: "swapoff -a"
      changed_when: true

    - name: Remove old swap file if it exists
      ansible.builtin.file:
        path: "{{ swap_path }}"
        state: absent

    - name: Create new swap file
      ansible.builtin.command: "fallocate -l {{ swap_size }} {{ swap_path }}"
      args:
        creates: "{{ swap_path }}"
      changed_when: true

    - name: Set secure permissions for swap file
      ansible.builtin.file:
        path: "{{ swap_path }}"
        mode: "0600"

    - name: Set up the file as swap area
      ansible.builtin.command: "mkswap {{ swap_path }}"
      changed_when: true

    - name: Enable the new swap file
      ansible.builtin.command: "swapon {{ swap_path }}"
      changed_when: true

    - name: Ensure swap persists after reboot in /etc/fstab
      ansible.builtin.lineinfile:
        path: /etc/fstab
        line: "{{ swap_path }} none swap sw 0 0"
        regexp: "^{{ swap_path }} none swap"
        state: present

    - name: Verify new swap size
      ansible.builtin.command: "swapon --show"
      register: swap_status
      changed_when: false

    - name: Display swap status
      ansible.builtin.debug:
        var: swap_status.stdout_lines

